.header {
  width: 100%;
  height: 45px;
  color: white;
  background-color: black;
  text-align: center;
  line-height: 45px;
}

.navMenu {
  width: 100%;
  height: 50px;
  background-color: grey;
  margin-top: 10px;
  color: white;
  text-align: center;
  line-height: 50px;
}

.container-content {
  width: 100%a;
  margin-top: 10px;
  height: 500px;
  line-height: 500px;
}
.lecontent {
  width: 35%;
  height: inherit;
  background-color: orange;
  color: white;
  text-align: center;
}

.maincontent {
  width: 30%;
  height: inherit;
  background-color: skyblue;
  color: white;
  text-align: center;
}

.rcontent {
  width: 35%;
  height: inherit;
  background-color: orange;
  color: white;
  text-align: center;
}

.footer {
  width: 100%;
  height: 30px;
  background-color: black;
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 30px;
  text-align: center;
}

.float {
  float: right;
  color: white;
}

/* micro clear fix nicolas gailegher  */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}